<article class="grid drid--1x2">
    <div>
        <span class="icon-container">
        </svg><svg class="icon ">
            <use xlink:href="images/sprite.svg#wordpress"></use>
          </svg>
        </span>
        <h3 class="feature__heading"> Super Easy to Use</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod in consequatur deleniti soluta? Ducimus id quisquam aut vitae rerum sit.</p>
        <a class= "link-arrow" href="#"> learn more</a>
    </div>
    
   </article>